* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 50px;
  background-color: #f8f8f8;
}

html {
  overflow-y: scroll;
}

a {
  color: #000;
}

p {
  line-height: 1.5em;
}

h1, h2 {
  color: #333;
  margin-top: 0;
}

.tags-title {
  margin: 1.5em;
  font-size: 1.3em;
}

.button,
button[type="submit"],
input[type="submit"] {
  background-color: #558FE7;
  border-color: #558FE7;
  border-radius: 1px;
  padding: 0.8em 1.5em;
  color: #fff;
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
  text-decoration: none;
  width: auto;
}

.warning {
  background-color: #E75555;
}
