{% extends 'base.html' %}

{% block title %}
    {{ post.title }} Delete
{% endblock %}

{% block content %}
    <form action="{% url 'blog:delete' post.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        Are you  sure you want to delete this item:

        <br>
        <a href="{{ post.get_absolute_url }}">({{ post.pk }}) {{ post.title }}</a>?
        <br>
        <button type="submit" class="button">Delete</button>
        <a href="{% url 'blog:home' %}">Cancel</a>
    </form>
{% endblock %}
